.home__startups__left{
    h2{
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        line-height: 28px
    }

    div{
        .btn-1{
            padding: 16px 56px;
            border-radius: 41px;
            font-size: 18px;
            font-weight: 600;
            line-height: 32px;
            background: #FCD980;
            border:none;
            font-family: Manrope;
        }

        .btn-2{
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
        }
    }
}

.home__startups__reight{
    @media (min-width:0){
        margin-top: 40px;
    }

    @media (min-width:768px){
        margin-top: 0;
    }
}



// ---------PROJECTS   START------------//


.projects__card__left{
    grid-template-columns: repeat(2, 1fr);
    max-height: 600px;
    height: 100%;
    background-image: url(../../accets/images/home/Card.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--content{
        margin-left:-25px;
        padding: 76px 35px;
        grid-template-rows: repeat(2, 1fr);
        background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);


        &__2{
            h3{
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
            }
            p{
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px; 
            }

            a{
                font-size: 16px;
                font-weight: 500;
                line-height: 28px; 
                color: #FCD980;
                text-decoration: none;
            }
        }
    }
}

.projects__card__reight--item-1{
    background-image: url('../../accets/images/home/Rectangle\ 1313.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    div{
        background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    }
}

.projects__card__reight--item-2{
    background-image: url(../../accets/images/home/Card\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// ---------PROJECTS   END------------//




.pre{
    width: 35px;
    height: 35px;
}





.design{
    &__title{
        label{
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
        }
        h2{
            font-size: 48px;
            font-weight: 600;
            line-height: 64px;
        }
    }
}

.card-body{
    h6{
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
}



.carousel-item{
    div{
        h3{
            font-size: 38px;
            font-weight: 600;
            line-height: 56px;
        }
    }
}

.carousel--about{
    h5{
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        margin-bottom: 40px;
    }
    .d-flex{
        img{
            border-radius: 50%;
        }
        label{
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
        }
        p{
            font-size: 12px;
            font-weight: 500;
            line-height: 28px;
        }
    }

}






.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: auto;
    bottom: 0;
    transition: opacity .15s ease;
    width:40px;
    height:40px;
    border-radius: 50%;
    color: black;
}

.carousel-control-prev.active,
.carousel-control-next.active{
    color:white;
    background-color: blue;
} 

.carousel-control-prev{
    left: auto;
    right:6%;
}


.footer-text-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-text-h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 40px;
}

.footer-contact{
    gap: 15px;
}

.footer-gap{
    gap: 24px;
}